@model IEnumerable<MvcMusicStore.Models.Album>

@*截断字符串*@
@helper Truncate(string input,int length)
{
    if (input.Length <= length)
    { 
        @input
    }
    else
    { 
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            GenreId
        </th>
        <th>
            ArtistId
        </th>
        <th>
            Title
        </th>
        <th>
            Price
        </th>
        <th>
           
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @Truncate(item.Artist.Name, 25)
        </td>
        <td>
            @Truncate(item.Title, 25)
        </td>
        <td>
            @item.Title
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.AlbumId })|
            @Html.ActionLink("详细内容", "Details", new { id = item.AlbumId })|
            @Html.ActionLink("删除", "Delete", new { id = item.AlbumId })
        </td>
    </tr>
}

</table>

